// Place all the styles related to the precipitation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location {
  padding: 10px 0;
}

#status {
  font-size: 40pt;
  font-weight: bold;
}